{% extends "base.html" %}

{% block title %}
<title> Register </title>
{% endblock %}
{% set message=get_flashed_messages() %}
{% if message %}
{{message[0]}}
{% endif %}
{% block body %}
<h2> Register </h2>
<form method="POST" action="/CreateAccount">
  Username:
  <br>
  <input type="text" name="username">
  <br>
  Password:
  <br>
  <input type="password" name="password">
  <br>
  <input type="submit" value="Register" name="submit">
</form>
<br>
<form action="/">
  <input type="submit" value="Login here" name="login">
</form>
{% endblock %}
