{% extends "base.html" %}

{% block title %}
<title> Welcome </title>
{% endblock %}

{% block body %}
<h2> Welcome,{{username}}! </h2>
<table>
  <tr>
    <th> Stories To View </th>
  </tr>
  {% for title in titles_edited %}
  <tr>
    <td>
		<a href=http://127.0.0.1:5000/ViewStory?title={{title|replace(" ", "+")}}> {{title}} </a>
    </td>
  </tr>
  {% endfor %}    
</table>
<table>
  <tr>
    <th> Stories To Edit </th>
  </tr>
  {% for title in titles_not_edited %}
  <tr>
    <td>
		<a href=http://127.0.0.1:5000/EditStory?title={{title|replace(" ", "+")}}> {{title}} </a>
    </td>
  </tr>
  {% endfor %}    
</table>

<form action="/CreateStory">
  <input type="submit" value="New Story">
</form>
{% endblock %}
